name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH RSYNC
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: unnecessary
          if_key_exists: replace

      - name: Adding Known Hosts
        run: ssh-keyscan -H ${{ secrets.HOST }} >> ~/.ssh/known_hosts

      - name: Rsync Deployment
        run: |
          rsync -avz --exclude='.git*' --exclude='deploy_key*' --exclude='*.sql' --exclude='.agent' --exclude='.gemini' --exclude='node_modules' ./ ${{ secrets.USERNAME }}@${{ secrets.HOST }}:/home1/kogha0000/
        env:
          HOST: ${{ secrets.HOST }}
          USERNAME: ${{ secrets.USERNAME }}
